<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	
	<global-property doc:name="Global Property" name="mule.env" value="dev" />
	<sap:outbound-config name="SAP" doc:id="05a0a973-2c03-4cea-8247-fda5959f14e9" doc:name="SAP Outbound">
		<sap:simple-connection-provider-connection applicationServerHost="${sap.jco.ashost}" client="${sap.jco.client}" language="${sap.jco.lang}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" username="${sap.jco.user}" />
	</sap:outbound-config>
	<salesforce:sfdc-config name="Salesforce" doc:id="3ee60cab-4f6b-46a2-8254-41c66bbf72e5" doc:name="Salesforce Sfdc config">
		<salesforce:basic-connection password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.username}" />
	</salesforce:sfdc-config>
	<tls:context name="TLS_Context" doc:id="fb7fb344-68d0-4d15-9baa-779854f5a5db" doc:name="TLS Context">
		<tls:trust-store insecure="true" />
	</tls:context>
	<email:smtp-config name="Gmail_SMTP" doc:id="e87d920b-e5ac-41fc-95eb-781cdfda35d2" doc:name="Email SMTP">
		<email:smtps-connection host="${smtp.host}" password="${smtp.password}" port="${smtp.port}" tlsContext="TLS_Context" user="${smtp.user}" />
	</email:smtp-config>
	<configuration-properties file="mule.${mule.env}.properties" doc:id="06aea616-769a-40ab-95c5-bef24648e9ae" doc:name="Configuration properties" />
	<configuration-properties file="common.properties" doc:id="3274708a-7925-4d2c-9bb0-6293c80149df" doc:name="Configuration properties" />
</mule>
