<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<sap:outbound-config name="SAP" doc:name="SAP Outbound" doc:id="05a0a973-2c03-4cea-8247-fda5959f14e9" >
		<sap:simple-connection-provider-connection applicationServerHost="${sap.jco.ashost}" username="${sap.jco.user}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" client="${sap.jco.client}" language="${sap.jco.lang}"/>
	</sap:outbound-config>
	<salesforce:sfdc-config name="Salesforce" doc:name="Salesforce Sfdc config" doc:id="3ee60cab-4f6b-46a2-8254-41c66bbf72e5" >
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="fb7fb344-68d0-4d15-9baa-779854f5a5db" >
		<tls:trust-store insecure="true" />
	</tls:context>
	<email:smtp-config name="Gmail_SMTP" doc:name="Email SMTP" doc:id="e87d920b-e5ac-41fc-95eb-781cdfda35d2" >
		<email:smtps-connection host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" tlsContext="TLS_Context" />
	</email:smtp-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7749ed4c-7ac8-496c-95a2-9a5ae88f3d5b" file="mule-artifact.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="06aea616-769a-40ab-95c5-bef24648e9ae" file="mule.${mule.env}.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="3274708a-7925-4d2c-9bb0-6293c80149df" file="common.properties" />

</mule>